<?xml version="1.0"?>
<config>
    <modules>
        <Augment_Notification>
            <version>0.0.1</version>
        </Augment_Notification>
    </modules>
    <global>
		<helpers>
			  <augment_notification>
				  <class>Augment_Notification_Helper</class>
			  </augment_notification>
		</helpers>
		 <blocks>
			 <augment_notification>
				  <class>Augment_Notification_Block</class>
			 </augment_notification>
		  </blocks>
		  <models>
			<notification>
				 <class>Augment_Notification_Model</class>
				 <resourceModel>augment_notification_mysql4</resourceModel>
			 </notification>
			<augment_notification_mysql4>
				 <class>Augment_Notification_Model_Mysql4</class>
				 <entities>
					 <notify>
					   <table>product_notification</table>
					 </notify>
				  </entities>
			</augment_notification_mysql4>
		</models>
		
		<resources>
            <augment_notification_setup>
                <setup>
                    <module>Augment_Notification</module>
                </setup>
            </augment_notification_setup>
        </resources>
		
		 <events>
			<catalog_product_save_after>
				<observers>
					<augment_notification_detect_product_attribute_changes>
						<type>singleton</type>
						<class>notification/observer</class>
						<method>detectProductAttributeChanges</method>
					</augment_notification_detect_product_attribute_changes>
				</observers>
			</catalog_product_save_after>    
		</events>
		<template>
            <email>
				<product_attribute_changes_notification>
                    <label>Product Attribute Changes</label>
                    <file>product_attribute_changes_notification.html</file>
                    <type>html</type>
                </product_attribute_changes_notification>
            </email>
        </template>
	</global>
	<frontend>
       <routers>
            <notification>
                <use>standard</use>
                <args>
                    <module>Augment_Notification</module>
                    <frontName>notification</frontName>
                </args>
            </notification>
        </routers>
        <layout>
			<updates>
				<notification>
					<file>product_notify.xml</file>
				</notification>
			</updates>
		</layout>
     </frontend>
     <adminhtml>
		 <!--<admin>
			 <routers>
				 <adminhtml>
					 <use>admin</use>
					 <args>
						 <module>Augment_Notification</module>
						 <frontName>notification</frontName>
					 </args>
				 </adminhtml>
			 </routers>
		</admin>
		<layout>
			<updates>
				<customtabs>
					<file>augment_notification.xml</file>
				</customtabs>
			</updates>
		</layout>
     </adminhtml>-->
</config>
